body {
	background-image: url(../img/Guitars.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

video {
	max-width: 100%;
	min-width: 0;
}

.container {
	width: 100%;
	float: left;
	padding: 3% 4%;
	text-align: center;
}

.bgGradient {
	background: linear-gradient(to right, black, royalblue);
}

#menu-h ul a i {
	margin-right: 16px;
}


span {
	color: #fff;
}
.rodape {
	max-width: 1536px;
}

.container {
	width: 100%;
	position: relative;
	align-items: baseline;
}
.abaixo {
	text-align: left;
	height: 13px;
	font-size: 15px;
	float: center;
}
.ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.ul p {
	width: 100%;
	font-size: 14px;
	text-align: center;
	height: 14px;
	color: #fff;
	margin-top: 10px;
}
