h3 {
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
}
img {
	border-radius: 5px;
	border: 10px solid #fff;
	box-shadow: 5px 5px 5px #000;
}
img:hover {
	transform: scale(1);
	border: 10px solid #000;
}
#menu-h ul a i {
	margin-right: 16px;
}

.rodape {
	margin-top: 100px;
	max-width: 1536px;
}

.container {
	width: 100%;
	position: relative;
	align-items: baseline;
}
span {
	color: #fff;
	align-items: right;
}
