@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(62, 154, 207));
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow-x: hidden;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0.42);
	color: #fff;
	height: 10rem;

}

.galeria-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1vw;
	margin-top: 300px;
	padding: 0 1vw;
}

.galeria-cards h3 {
	color: #fff;
	text-align: center;
	margin-top: 10px;
	font-size: 25px;
	font-family: 'Alkatra', cursiva;
}

.galeria-cards h3:hover {
	transform: scale(1.1);
}


.galeria-cards {
	width: 300px;
	height: 200px;
	box-shadow: 5px 5px 5px #000;
	transition: transform 0.5s linear;
	margin-top: 50px;
}

.galeria-cards img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.galeria-cards:hover {
	transform: scale(1.09);
}

.brand-title {
	font-size: 2rem;
	margin: 3rem;
	font-family: 'Alkatra', cursiva;

}

.navbar-links ul {
	display: flex;
	margin-right: 10px;
	padding: 0;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 1.5rem;

}

.navbar-links ul li a {
	font-size: 20px;

}

.navbar-links ul li a:hover {
	background-color: rgba(0, 0, 0, 0.42);
	border-radius: 0.5rem;
	transform: scale(1.1);
}

.toggle-button {
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
}

man {
	display: inline-block;
	margin-top: 200px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5%;
	text-align: center;
	width: 90%;
}

man h2 {
	width: 100%;
	font-size: 33px;
	margin: 0;
	font-family: 'Alkatra', cursiva;
	color: white;
}

.familia {
	display: inline-block;
	margin-top: 5%;
}

.familia h3 {
	color: white;
	margin-top: 10px;
}

.card {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	display: inline-block;
	width: 30%;
	padding: 20px;
	margin: 1%;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 50px;
}

.card img {
	width: 150px;
	border-radius: 50%;
	border: 5px solid greenyellow;
	margin-top: 35px;
}

.transparente {
	color: transparent;
}

.texto-oculto {
	display: none;
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.42);
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 50px;
	color: #fff;
	margin-top: 223px;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem;
}

.socials li {
	margin: 0 10px;
}

.socials a {
	text-decoration: none;
	color: #fff;
}

.socials a i {
	font-size: 1.5em;
	color: #fff;
	margin-right: 3%;
	transition: 0.5s;
}

.footer-bottom {
	background: #000;
	width: 100vw;
	text-align: center;
	padding: 20px 0px;
}

.footer-bottom p {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

#whats {
	position: fixed;
	bottom: 5px;
	right: 5px;

}

.socials a:hover i {
	color: rgb(16, 99, 114);
	transform: translateY(-9px);
}

.card:hover {
	background-image: linear-gradient(to top left, #ff2978, #180f4a);
	color: white;
	padding: 10px;
}

.card:hover .card-text {
	display: none;
}

.card:hover .texto-oculto {
	display: block;
}

@media screen and (max-width: 1024px) {
	.navbar-links {
		display: none;
		width: 100%;

	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
		position: relative;


	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;

	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: 0.5rem 1rem;
	}

	.toggle-button,
	.navbar-links.active {
		display: flex;
	}

	.brand-title {

		text-align: center;
		margin-left: 0;
	}

	.galeria-container {
		margin-top: 250px;
	}

	hr {
		margin-top: -100px;
	}

}

@media screen and (max-width: 1024px) {

	.navbar-links {
		display: none;
	}

	#whats {
		display: none;
	}

	.galeria-container {
		width: 50%;
		display: block;
		margin-left: 25%;

	}

	.brand-title {

		text-align: center;
		width: 100%;
	}

}