body {
	background-image: url(../img/Guitars.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

.container {
	width: 100%;
	float: left;
	padding: 3% 4%;
	text-align: center;
}

.colcheia {
	width: 100%;
	float: left;
	height: 50px;
}

.colcheia img {
	width: 85px;
	margin-top: -25xpx;
	float: center;
}

.titulo {
	margin-top: 100px;
	color: #fff;
}
.bgGradient {
	background: linear-gradient(to right, black, royalblue);
}
.bgGradient2 {
	background: linear-gradient(to right, royalblue, black);
}

#menu-h ul {
	float: left;
}

#menu-h ul li {
	display: inline;
}

#menu-h ul li a {
	color: #fff;
	padding: 10px;
	display: inline-block;
	transition: background 0.4s;
}

#menu-h ul li a:hover {
	background-color: #87ceeb;
}

#map {
	height: 500px;
	width: 100%;
}

.socialIcons {
	width: 100%;
}
.socialIcons i {
	font-size: 1.5em;
	color: #fff;
	margin-right: 3%;
	opacity: 0.7;
	transition: 0.5s;
}
.socialIcons .fa-facebook-f:hover {
	color: #87ceeb;
	transform: translateY(-9px);
}

.socialIcons .fa-facebook-f:hover {
	color: #87ceeb;
	transform: translateY(-9px);
}

.socialIcons .fa-twitter:hover {
	color: #87ceeb;
	transform: translateY(-9px);
}

.socialIcons .fa-twitter-f:hover {
	color: #87ceeb;
	transform: translateY(-9px);
}

.socialIcons .fa-instagram:hover {
	color: #87ceeb;
	transform: translateY(-9px);
}

.socialIcons .fa-whatsapp:hover {
	color: #87ceeb;
	transform: translateY(-9px);
}

.socialIcons .fa-whatsapp:hover {
	color: #87ceeb;
	transform: translateY(-9px);
}
.direitos {
	margin-top: 10px;
	color: #fff;
	opacity: 0.7;
}
.rodape {
	max-width: 1920px;
	min-height: 5px;
}

.col-sm-4 h5 a {
	color: #fff;
	font-weight: bold;
}

.col-sm-4 p {
	color: #fff;
	text-align: center;
}
.col-sm-4 img {
	width: 100%;
	height: 210px;
	width: 280px;
	margin-top: 0px;
	padding: 15px;
	border-radius: 20px;
	display: inline-flex;
	float: center;
}
