body {

	background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(2, 43, 68));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh; /* Garante que o gradiente cubra telas muito altas */
	overflow-x: hidden;

}

.casinha a i {
	margin-left: 20px;
	margin-top: 30px;
	color: #ffffff;
	text-decoration: none;
}

/* Títulos e parágrafos */
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #ffffff;
	height: 5rem;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
}

p {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #ffffff;
	height: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}