body {
	background-image: url(../img/Guitars.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

.container {
	width: 100%;
	float: left;
	padding: 3% 4%;
	text-align: center;
}

.bgbackground: {
	background: rgba(0, 0, 0, 0.42);
}

#menu-h ul {
	float: left;
}

#menu-h ul li {
	display: inline;
}

#menu-h ul li a {
	color: #fff;
	padding: 10px;
	display: inline-block;
	transition: background 0.4s;
}
#menu-h ul a i {
	margin-right: 16px;
}

#menu-h ul li a:hover {
	background-color: #87ceeb;
}

h4 {
	color: white;
	font-size: 20px;
}
.col-sm-4 h5 a {
	color: #fff;
	font-weight: bold;
}

.col-sm-4 p {
	color: #87ceeb;
	text-align: center;
}
.col-sm-4 img {
	height: 210px;
	width: 280px;
	margin-top: 0px;
	padding: 15px;
	border-radius: 20px;
}

.tabelamusica th {
	color: #00a9d4;
	font-size: 18px;
	text-align: right;
	
}

.tabelamusica td {
	color: #fff;
	font-size: 13px;
	border-top: 1.5px solid rgba(255,255,255,.1);
}

.btn {
	padding: 10px 8px;
	width: 50px;
	color: white;
	background-color: blue;
	border-radius: 5px;
	text-align: right;
	user-select: none;
	cursor: pointer;
}

.btn-baixar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	font-family: sans-serif;
}
.btn-baixar a {
	display: block;
	background: #00a9d4;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	text-decoration: none;
	width: 120px;
	text-align: left;
	border-radius: 5px;
	font-size: 15px;
	margin-top: -450px;
}
.btn-baixar p {
	color: #fff;
}
.btn-baixar a:hover {
	background: #00729d;
}
.dam {
	height: auto;
	width: 100%;
	background: rgba(0, 0, 0, 0.42);
	position: relative;
	margin-bottom: 0px;
	margin-top: 200px;
	border-radius: 10px;
	background: attachment scroll;
	background-clip: content-box;
	background-image: none;
	text-align: center;
}
.rodape {
	margin-top: -71px;
	max-width: 1536px;
}

.container {
	width: 100%;
	position: relative;
	align-items: baseline;
}
