body {
	background-image: url(../img/Guitars.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

table {
	border-spacing: 2cm;
}

td {
	text-align: left;
	padding: 3px;
	color: aliceblue;
}

.container {
	width: 100%;
	float: left;
	padding: 3% 4%;
	text-align: center;
}

.bgbackground {
	background: rgba(0, 0, 0, 0.42);
}

#menu-h ul {
	float: left;
}

#menu-h ul li {
	display: inline;
}

#menu-h ul li a {
	color: #fff;
	padding: 10px;
	display: inline-block;
	transition: background 0.4s;
}
#menu-h ul a i {
	margin-right: 16px;
}

#menu-h ul li a:hover {
	background-color: #87ceeb;
}

h4 {
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: 40px;
}

.baixar {
	color: #00729d;
}

.encore {
	color: #fff;
}
